.faq-accordion {
    -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
    padding: 60px;
    background: #ffffff;
    border-radius: 10px;
  }
  
  .faq-accordion .accordion {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .faq-accordion .accordion .accordion-item {
    display: block;
    margin-bottom: 15px;
  }
  
  .faq-accordion .accordion .accordion-item:last-child {
    margin-bottom: 0;
  }
  
  .faq-accordion .accordion .accordion-item .accordion-title {
    display: block;
    padding: 12px 20px 12px 51px;
    text-decoration: none;
    color: #0e314c;
    position: relative;
    border-bottom: 1px solid #ffffff;
    background: #f5f9ff;
    font-size: 16px;
    font-weight: 500;
  }
  
  .faq-accordion .accordion .accordion-item .accordion-title i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    text-align: center;
    height: 100%;
    background: #44ce6f;
    color: #ffffff;
  }
  
  .faq-accordion .accordion .accordion-item .accordion-title i::before {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 15px;
  }
  
  .faq-accordion .accordion .accordion-item .accordion-title.active {
    border-bottom-color: #e1e1e1;
  }
  
  .faq-accordion .accordion .accordion-item .accordion-title.active i::before {
    content: "\f10f";
  }
  
  .faq-accordion .accordion .accordion-item .accordion-content {
    display: none;
    position: relative;
    overflow: hidden;
    padding: 15px 0 0;
    line-height: 1.9;
  }
  
  .faq-accordion .accordion .accordion-item .accordion-content.show {
    display: block;
  }
  
  .faq-contact {
    margin-top: 45px;
    -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
    padding: 60px;
    border-radius: 4px;
    background: #ffffff;
  }
  
  .faq-contact h3 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  
  .faq-contact form .btn {
    margin-top: 10px;
  }
  
  .faq-contact textarea.form-control {
    height: auto;
    min-height: auto;
  }
  .faq-accordion {
    padding: 0;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .faq-accordion .accordion .accordion-item .accordion-title {
    font-size: 15px;
  }
  .faq-contact {
    padding: 30px 20px;
  }
  .faq-contact h3 {
    font-size: 20px;
  }
  .ptb-80 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .ptb-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.container {
    max-width: 100%;
  }

  .ml-main-banner .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .repair-team-area .container {
    max-width: 100%;
  }

  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
      max-width: 540px;
    }
}

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .container {
          max-width: 960px;
        }
    }

    .container {
        max-width: 1140px;
      }