.container::before{
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(../../assets/bg_pattern.png);
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: 1000px;
    opacity: 0.5;

}