.dropend:hover .dropdown-menu {
    display: block;
    float: right;
    top:0;
    right:0;
    margin-right: -200px;
    
  }
  
  @media only screen and (max-width: 768px) {
    .dropend:hover .dropdown-menu {
      display: block;
      float: right;
      top:0;
      right:0;
      margin-right: -200px;
    }
  }